.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyz.d
*.pyw.d
*.pyc.d
staticfiles/
media/
*.zip
.config.json
db_config.json
.env.dev
.env.prod
newsapp/get_news/config.json
*.sql
*.backup
*.pem