asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
cryptography
Django==5.1.7
django-crontab==0.7.1
gunicorn
idna==3.10
msgpack
numpy
packaging==24.2
pandas
pycparser
PyMySQL==1.1.1
python-dateutil
python-dotenv
pytz==2025.1
redis==5.2.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.3.0