/* 페이지 타이틀 */
.page-header {
  display: flex;
  justify-content: space-between;  
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.25rem;
  background-color: #de4d4d;
}

.page-title a{  
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.page-title h1 {
  font-size: 2.5rem;
  margin: 0;
}
.page-title h2 {
  font-size: 1.5rem;
  margin: 0;
}

/* 회원 가입 / 로그인 영역 */
.account-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.account-info a {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  /* margin-right: 0.5rem; */
  background-color: #262626;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.account-info a:hover {
  background-color: #3936e5;  
}


/* 필터 컨테이너 스타일 */
.filter-container {
  display: flex;    
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 1.25rem;  
  height: 80px;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  gap: 0.5rem;
}

.filter-container .category-filter {
  width: 25%;
  height: 40px;
  box-sizing: border-box;  
}

.filter-container .search-box {
  flex-grow: 1;
  height: 40px;
  box-sizing: border-box;  
}

.filter-container .dropdown {
  height: 40px;
  box-sizing: border-box;
}

.search-control {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.search-box .form-control {
  height: 40px;
  box-sizing: border-box;
}

.search-btn {
  height: 40px;
  box-sizing: border-box;
  background-color: #262626;
  color: #fff;
}

.search-btn:hover {
  background-color: #484848;
  color: #fff;
}

.fixed-width-dropdown {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  white-space: nowrap; /* 줄바꿈 방지 */
  background-color: #262626;
}

.fixed-width-dropdown .dropdown-menu {
  width: 100%;  /* 버튼과 같은 폭 */
  min-width: unset; /* Bootstrap 기본값 해제 */
}


/* 카드 컨테이너 스타일 */
.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0rem;
  justify-content: space-between; /* 카드를 가로로 균등하게 배치 */
  padding: 1.25rem;
  flex-direction: row; /* 카드가 가로로 배치되도록 설정 */  
}


/* 각 뉴스 카드 스타일 */
.news-card {
  background: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  flex: 1 1 calc(25% - 1.25rem); /* 기본 4열 */
  max-width: calc(25% - 1.25rem);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card-footer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;  
  margin-top: auto;
}
/* 뉴스 카드 링크 스타일 */
.news-card-link {
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  background-color: #ebf2ff;
  text-decoration: none;  
  color: #3d3d73;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.news-card-link:hover {
  background-color: #cfe2ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 뉴스 이미지 */
.news-card img {
  width: 100%;
  height: 11.25rem;
  object-fit: cover;
}

/* 뉴스 내용 */
.news-content {
  padding: 1rem;
  flex-grow: 1;
}

.news-content h3 {
  font-size: 1rem;
  margin-bottom: 0.625rem;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-content p {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-content a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.2s;
}

.news-content a:hover {
  color: #0056b3;
}

/* 뉴스 메타 정보 */
.news-meta {
  font-size: 0.75rem;
  color: #999;
  margin-top: 0.625rem;
}

.news-meta p {
  color: #3f5b82; /* 블루-그레이 계열 */
  margin: 2px 0;
  font-size: 1em;
}

.news-meta p span.label {
  color: #1F2937; /* 진한 네이비 계열 (Tailwind gray-800) */
  font-weight: bold;
  margin-right: 4px;
}

.news-meta a {
  color: #ffffff; /* 블루-그레이 계열 */
  background-color: #273a57;
  text-decoration: none;
  font-weight: normal;
  padding: 0 0.3rem;
  border-radius: 0.25rem;
}

.news-meta a:hover {
  color: #ffffff; /* 블루-그레이 계열 */
  background-color: #2d4263;
  font-weight: bold;  
}

/* Paginator */
.pagination .page-link {
  color: #3f5b82; /* 회색 글자 (gray-500) */
  background-color: #ffffff; /* 흰 배경 */
  border: none; /* 테두리 없애기 */
  /* border: 1px solid #D1D5DB; 연한 회색 테두리 (gray-300) */
}

.pagination .page-item.active .page-link {
  background-color: #3f5b82; /* 진한 회색 (gray-700) */
  color: white; /* 흰 글자 */
  /* border-color: #374151; 테두리도 동일 색 */
  border: none; /* 테두리 없애기 */
  border-radius: 0.7rem; /* 둥근 테두리 */
}

.pagination .page-link:hover {
  color: #374151; /* hover 시 더 진한 회색 */
  background-color: #F3F4F6; /* 연한 회색 배경 (gray-100) */
  border-color: #D1D5DB; /* 테두리 유지 */
  border-radius: 0.7rem; /* 둥근 테두리 */
}

.pagination .page-item.disabled .page-link {
  color: #9CA3AF; /* 연한 회색 (gray-400) */
  background-color: #F9FAFB; /* 거의 흰색 배경 */
  border-color: #E5E7EB; /* 약간 진한 회색 테두리 */
}

.global-home {    
  margin: 2rem 0;  
  background-color: #de4d4d;
  text-align: center;
  padding: 1rem;
  border-radius: 0.75rem;
}

.global-home a {
  color: #fff;
  text-decoration: none;  
  font-weight: bold;
}

.global-home h1{
  font-size: 2rem;
  margin: 0;
}

.global-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  color: #979797;
}

.global-links a {
  color: inherit;
  text-decoration: none;  
  font-weight: normal;
  font-size: 0.75rem;
  /* padding: 0.5rem 1rem; */
  /* background-color: #262626; */
  /* border-radius: 0.25rem; */
}


/* 반응형 레이아웃 설정 */
/* 화면이 1024px 이하일 때: 가로 2개 */
@media (max-width: 1024px) {
  .news-card {
    flex: 1 1 calc(50% - 1.25rem);
    max-width: calc(50% - 1.25rem);
  }
}

/* 화면이 640px 이하일 때: 가로 1개 */
@media (max-width: 576px) {
  .news-card {
    flex: 1 1 calc(100% - 1.25rem);
    max-width: 100%;
    /* max-width: calc(100% - 1.25rem); */
  }

  .account-info a {
    font-size: 0; /* 글자 숨기기 */
  }

  .account-info a i {
    font-size: 1.5rem; /* 아이콘은 보이도록 */
  }

  .filter-container .category-filter {
    width: 100%;    
  }
}

/* Sticky footer 스타일 */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.footer {
  margin-top: 3rem; /* 상단 마진 추가 */
  width: 100%;
  background-color: #f8f9fa; /* bg-body-tertiary와 동일한 색상 */
  padding: 1.25rem 1.25rem;  
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  padding: 1.25rem;  
}

.footer .container .contact {
  display: flex;
  justify-content: start;
  gap: 1rem;
  flex-direction: row;
}

.footer a {
  color: #333;
  text-decoration: none;
}