{% extends "base.html" %}
{% load static %}
{% block title %}My News Service{% endblock %}

{% block container %}
  {% include 'components/header.html' %}

  {% include 'components/search.html' %}

  <div class="news-container"> 
    {% for article in news %}
      <div class="news-card">        
        {% if article.url_to_image %}
          <img src="{{ article.url_to_image }}" alt="{{ article.title }}">
        {% else %}
          <img src="{% static 'images/news.webp' %}" alt="뉴스 이미지">
        {% endif %}
        <div class="news-content">
            <h3>{{ article.title }}</h3>
            <p>{{ article.description }}</p>
            <div class="news-meta">
              <p><span class="label">카테고리:</span>
                <a class="news-meta-link" href="{% url 'category_news' article.category.id %}">{{ article.category.name }}</a>
              </p>
              <p><span class="label">출처:</span> 
                {% if article.source.url %}
                  <a href="{{ article.source.url }}" target="_blank">{{ article.source.name }}</a>
                {% else %}
                  {{ article.source.name }}
                {% endif %}
              </p>              
              <p><span class="label">작성자:</span> {{ article.author }}</p>              
              <p>{{ article.published_at }}</p>
            </div>
        </div>
        <div class="news-card-footer">
          {% if user.is_authenticated %}
            <a href="{{ article.url }}" target="_blank" class="news-card-link">
              기사보기
            </a>  
          {% else %}
            <a href="{% url 'login' %}" class="news-card-link">
              로그인하고 기사보기
            </a>
          {% endif %}
          
        </div>
      </div>
    {% endfor %}
  </div>

  {% if is_paginated %}
    <div>
      {% include 'components/pagination.html' %}
    </div>    
  {% endif %}
  
{% endblock %}

{% block script %}  
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

