{% extends "base.html" %}
{% load static %}
{% block title %}My News Service{% endblock %}

{% block container %}
  <h1>News Service</h1>
  {% if request.user.is_authenticated %}
    <p>{{ request.user.username }}</p>
    <a href="{% url 'logout'  %}">로그아웃</a>
  {% else %}
    <a href="{% url 'signup'  %}">회원가입</a>
    <a href="{% url 'login'  %}">로그인</a>
  {% endif %}

  <div class="news-container">
    
    {% for article in news %}
      <div class="news-card">
        
        {% if article.url_to_image %}
          <img src="{{ article.url_to_image }}" alt="">
        {% else %}
          <img src="{% static 'images/news.webp' %}" alt="">
        {% endif %}

        <div class="news-content">
            <h3>{{ article.title }}</h3>
            <p>{{ article.description }}</p>
            {% if request.user.is_authenticated %}
              <a href="{{ article.url }}" target="_blank">기사 보기</a>
            {% else %}
              <a href="{% url 'login' %}">로그인 후 기사 보기</a>
            {% endif %}
        </div>
      </div>
    {% endfor %}

  </div>  


  <div>
    {% include "components/pagenator.html" %}
  </div>
  
  
{% endblock %}

